<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shamsher's Hindi Joke App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <h1>Welcome To My Joke App</h1>
        <h3> Best jokes is here: <br><%= myjoke %></h3>
        <p>creator: <%= creator %></p>
        <h2>Refress The website to get New jokes</h2>
    </div>
</body>

</html>